<div class="row">
  <div class="col-8">
    <div class="mb-3">
      <h3>
        Lote para leilão código <span class="text-orange"><%= @auction_lot.code %></span>
        <%= display_items_qtty(@auction_lot) %>
      </h3>
    </div>
    <p><%= AuctionLot.human_attribute_name(:start_date) %>: <%= I18n.localize(@auction_lot.start_date) %>
    <%= display_time_to_begin(@auction_lot) %>
    </p>
    <p>
    <%= AuctionLot.human_attribute_name(:end_date) %>: <%= I18n.localize(@auction_lot.end_date) %>
    <%= display_time_to_end(@auction_lot) %>

    </p>
    <p><strong><%= AuctionLot.human_attribute_name(:min_bid_amount) %>: <%= number_to_currency(@auction_lot.min_bid_amount) %></strong></p>
    <p><%= AuctionLot.human_attribute_name(:min_bid_difference) %>: <%= number_to_currency(@auction_lot.min_bid_difference) %></p>
    <p><%= AuctionLot.human_attribute_name(:status) %>: <%= AuctionLot.human_attribute_name(@auction_lot.status) %></p>
    <p><%= AuctionLot.human_attribute_name(:creator) %>: <%= @auction_lot.creator.email %></p>
    <p><%= AuctionLot.human_attribute_name(:approver) %>:
      <% if @auction_lot.approver.present? %>
        <%= @auction_lot.approver.email %>
      <% end %>
    </p>
  </div>
  <div class="col">
    <div class="px-3 border rounded shadow" id="actionDiv">
      <%= action_pending(@auction_lot) %>
      <%= status_expired(@auction_lot) %>
      <%= action_bid(@auction_lot) %>
      <%= action_favorite(@auction_lot) %>
      <%= action_edit(@auction_lot) %>
      <%= action_deliver(@auction_lot) %>
    </div>

    <div>
      <%= action_new_user() %>
    </div>

  </div>

</div>
<div>
  <%= status_closed(@auction_lot) %>
  <div class="mb-3">
    <% if @auction_lot.items.present? %>
      <h3>Itens deste Lote</h3>
      <table class="table">
        <tr>
          <th>Imagem</th>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Peso</th>
          <th>Dimensões</th>
          <th>Código</th>
          <th>Categoria</th>
        </tr>
        <% @auction_lot.items.each do |item| %>
          <tr>
            <% if item.image.attached? %>
              <td><%= image_tag item.image, class:"img-resize" %> </td>
            <% else %>
              <td></td>
            <% end %>
            <td><%= item.name %></td>
            <td><%= item.description %></td>
            <td><%= item.weight %> g.</td>
            <td><%= item.width %> x <%= item.height %> x <%= item.depth %> cm</td>
            <td><%= item.code %></td>
            <td><%= item.category.name %></td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <%= status_canceled(@auction_lot) %>
    <% end %>
  </div>

  <%= status_bids(@auction_lot) %>
  <%= status_expired_with_bids(@auction_lot) %>
  <%= display_questions(@auction_lot) %>
  <%= action_ask(@auction_lot) %>
  <%= link_to "Voltar", :back %>
</div>

<script>
  const aDiv = document.getElementById('actionDiv');
  if (!aDiv.innerHTML.trim()) {
    aDiv.style.display = 'none';
  }
</script>
