<h3>Nova pergunta</h3>

<%= form_with model: [ @auction_lot, @qna ] do |f| %>
  <%= render "form_errors", object: @qna %>

  <% invalid = @qna.errors.include?(:question) %>
  <div class="field mb-3">
    <%= f.label :question, class:"form-label" %>
    <%= f.text_field :question, autofocus: true, class:"form-control #{'is-invalid' if invalid}" %>
    <% if invalid %>
      <div class="invalid-feedback d-block">
        <% @qna.errors.full_messages_for(:question).each do |error_message| %>
          <%= error_message %>.
        <% end %>
      </div>
    <% end %>
  </div>

   <div class="actions mb-3">
    <%= f.submit "Cadastrar", class:"btn btn-secondary" %>
  </div>
<% end %>
