<h3>Postar um lance para o lote <%= @auction_lot.code %> </h3>
<p>Valor mínimo: <%= number_to_currency(@auction_lot.minimum_value) %> </p>
<%= form_with model: [ @auction_lot, @bid] do |f| %>
  <%= render "form_errors", object: @bid %>

  <% invalid = @bid.errors.include?(:value) %>
  <div class="field mb-3">
    <%= f.label :value, class:"form-label" %>
    <%= f.number_field :value, step: 0.01, autofocus: true, class:"form-control #{'is-invalid' if invalid}" %>
    <% if invalid %>
      <div class="invalid-feedback d-block">
        <% @bid.errors.full_messages_for(:value).each do |error_message| %>
          <%= error_message %>.
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="field mb-3">
    <%= f.submit 'Confirmar lance', class:"btn btn-secondary" %>
  </div>
<% end %>
