<div class="row">
  <div class="col">
    <h3>Usuário: <%= current_user.name %> </h3>
    <div class="mb-3">
      <% if current_user.try(:admin?) %>
        <h5 class="text-danger">ADMINISTRADOR</h5>
      <% end %>
      <h5>E-mail: <%= current_user.email %></h5>
      <h5>CPF: <%= current_user.formatted_cpf %></h5>
    </div>
    <div class="mb-3">
      <h3>Leilões vencedores</h3>
      <%= list_winning_lots(current_user) %>
    </div>
  </div>
  <div class="col">
    <% if current_user.favorite_auction_lots.any? %>
      <div class="mb=3 px-3 border rounded shadow">
        <h3>Lotes favoritos</h3>
        <% current_user.favorite_auction_lots.each do |lot| %>
          <div class="mb-3">
            <%= link_to  "Lote #{lot.code}", lot, class:"clean-link" %>
            <% if lot.end_date < Date.today %>
              (vencido)
            <% end %>
            <%= button_to("Remover dos favoritos", unfavorite_auction_lot_path(lot), method: :delete, class:"btn btn-secondary", id:"#{dom_id(lot)}") %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
