<h3>Usuário: <%= current_user.name %> </h3>
<div class="mb-3">
  <% if current_user.try(:admin?) %>
    <h5 class="text-danger">ADMINISTRADOR</h5>
  <% end %>
  <h5>E-mail: <%= current_user.email %></h5>
  <h5>CPF: <%= current_user.formatted_cpf %></h5>
</div>

<% if current_user.auction_lots.closed.count > 0 %>
  <p class="mb-3">
    <h3>Leilões vencedores</h3>
    <% current_user.auction_lots.closed.each do |al| %>
      <%= link_to al, class:"clean-link" do %>
        <h5>Lote: <%= al.code %> </h5>
      <% end %>
      <p>Valor: <%= number_to_currency(al.bids.last.value) %> </p>
    <% end %>
  </div>
<% end %>

<% if current_user.favorite_auction_lots.any? %>
  <div class="mb=3">
    <h3>Lotes favoritos</h3>
    <% current_user.favorite_auction_lots.each do |lot| %>
      <div class="mb-3">
        <%= link_to lot, class:"clean-link" do %>
          Lote <%= lot.code %>
        <% end %>
        <% if lot.end_date < Date.today %>
          (vencido)
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
