<div class="mb-5 text-center">
  <h3>Clique em um lote para mais informações</h3>
  <hr>
</div>

<div class="mb-3">
  <h3>Lotes em andamento</h3>
  <% if @current_lots.any? %>
    <% @current_lots.each do |lot| %>
      <div class="mb-2">
        <%= link_to auction_lot_path(lot.id), class:"clean-link" do %>
          <span>Lote </span>
          <%= lot.code %>
        <% end %>
        <span>Iniciado em: </span>
        <%= I18n.localize(lot.start_date) %>
        <span> Termina em: </span>
        <%= I18n.localize(lot.end_date) %>
        <span> Lances: </span>
        <%= lot.bids.count %>
      </div>
    <% end %>
  <% else %>
    <p>Nenhum lote</p>
  <% end %>
</div>

<div class="mb-3">
  <h3>Lotes futuros</h3>
  <% if @future_lots.any? %>
    <% @future_lots.each do |lot| %>
      <div class="mb-2">
        <%= link_to auction_lot_path(lot.id), class:"clean-link" do %>
          <span>Lote </span>
          <%= lot.code %>
        <% end %>
        <span>Inicia em: </span>
        <%= I18n.localize(lot.start_date) %>
        <span> Termina em: </span>
        <%= I18n.localize(lot.end_date) %>
        <span> Lances: </span>
        <%= lot.bids.count %>
      </div>
    <% end %>
  <% else %>
    <p>Nenhum lote</p>
  <% end %>
</div>
