<h4>Adicionar item ao lote <%= @auction_lot.code %> </h4>

<%= form_with model: [@auction_lot, @lot_item] do |f| %>

  <div class="field mb-3">
    <%= f.label :item_id, class:"form-label" %>
    <%= f.collection_select :item_id, @items, :id, :name, {}, { class:'form-select' } %>
  </div>

  <div class="field mb-3">
    <%= f.submit 'Adicionar item', class:"btn btn-secondary" %>
  </div>

<% end %>

<%= link_to 'Voltar', @auction_lot %>
