<h3>Itens não associados </h3>
<table class="table">
  <tr>
    <th>Imagem</th>
    <th>Nome</th>
    <th>Descrição</th>
    <th>Peso</th>
    <th>Dimensões</th>
    <th>Código</th>
    <th>Categoria</th>
    <th>Ação</th>
  </tr>
  <% @items.each do |item| %>
    <tr>
      <% if item.image.attached? %>
        <td><%= image_tag item.image, class:"img-resize" %> </td>
      <% else %>
        <td></td>
      <% end %>
      <td><%= item.name %></td>
      <td><%= item.description %></td>
      <td><%= item.weight %> g.</td>
      <td><%= item.width %> x <%= item.height %> x <%= item.depth %> cm</td>
      <td><%= item.code %></td>
      <td><%= item.category.name %></td>
      <td> <%=link_to "Editar", edit_item_path(item), id:"edit-#{dom_id(item)}" %> </td>
    </tr>
  <% end %>
</table>
