<%= form_with model: @blocked_cpf do |f| %>
  <%= render "form_errors", object: @blocked_cpf %>

  <% invalid = @blocked_cpf.errors.include?(:cpf) %>
  <div class="field mb-3">
    <%= f.label :cpf, class:"form-label" %>
    <%= f.text_field :cpf, autofocus: true, class:"form-control #{'is-invalid' if invalid}" %>
    <% if invalid %>
      <div class="invalid-feedback d-block">
        <% @blocked_cpf.errors.full_messages_for(:cpf).each do |error_message| %>
          <%= error_message %>.
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="actions mb-3">
    <%= f.submit "Cadastrar", class:"btn btn-secondary" %>
  </div>
<% end %>
